[submodule "apimanager_provisional"]
	path = apimanager_provisional
	url = https://quantion.visualstudio.com/DefaultCollection/Bluespace/_git/apimanager_provisional
[submodule "crmcoreapi"]
	path = crmcoreapi
	url = https://quantion.visualstudio.com/DefaultCollection/Bluespace/_git/crmcoreapi
[submodule "SMCoreAPI"]
	path = SMCoreAPI
	url = https://quantion.visualstudio.com/DefaultCollection/Bluespace/_git/SMCoreAPI
