# IDEs and editors (shamelessly copied from @angular/cli's .gitignore)
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# WSO2 Source Code
/wso2am-2.6.0.3

# Coverage directory used by tools like istanbul
coverage

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

backend
crmcoreapi
frontend
SMCoreAPI
/.vs
[Bb]in/
[Oo]bj/
/data/PopulateDatabase/.vs/